# files created by autoreconf
Makefile.in
aclocal.m4
autom4te.cache
config.h.in
configure
depcomp
install-sh
missing

# files created by configure
Makefile
config.h
config.log
config.status
src/.deps
stamp-h1

# files created during build
*.o
src/tmw

# files created during Windows build
.objs
*.dll
tmw.exe
tmw.depend
tmw.layout

# files copied in on Windows
include/*
lib/*
packaging/windows/upx/*
data/music/*.ogg
