Blue <bluesansdouze@gmail.com>
Thorbjørn Lindeijer <bjorn@lindeijer.nl>
Thorbjørn Lindeijer <thorbjorn.lindeijer@nokia.com>
Thorbjørn Lindeijer <bjorn@horst-dieter.(none)>
Dennis Friis <peavey@inspircd.org>
Falkreon <Falkreon@.(none)>
Ira Rice <irarice@gmail.com>
Majin Sniper <sniper@livecd.janhome.net>
Maximilian Philipps <turmfalke@Turmfalke.(none)>
Victor Fury <frictor@unknown>
