Bjørn Lindeijer <bjorn@lindeijer.nl>
Bjørn Lindeijer <thorbjorn.lindeijer@nokia.com>
Bjørn Lindeijer <bjorn@horst-dieter.(none)>
Majin Sniper <sniper@livecd.janhome.net>
Maximilian Philipps <turmfalke@Turmfalke.(none)>
Victor Fury <frictor@unknown>
