# the name of the target operating system
SET(CMAKE_SYSTEM_NAME Windows)

IF (NOT TOOLCHAIN)
    SET(TOOLCHAIN "i586-mingw32msvc-")
ENDIF()

# which compilers to use for C and C++
SET(CMAKE_C_COMPILER ${TOOLCHAIN}gcc)
SET(CMAKE_CXX_COMPILER ${TOOLCHAIN}g++)

# which rc compiler to use
SET(CMAKE_RC_COMPILER ${TOOLCHAIN}windres)

# here is the target environment located
# the directories specified here should contain two directories,
# 'include' for the headers, 'lib' for dlls and .a files
# For instance, the mingw32 headers can be installed at:
# /usr/i586-mingw32msvc/
SET(CMAKE_FIND_ROOT_PATH  /build/mingw32 /build/tmw-libs )

# adjust the default behaviour of the FIND_XXX() commands:
# search headers and libraries in the target environment, search
# programs in the host environment
set(CMAKE_FIND_ROOT_PATH_MODE_PROGRAM NEVER)
set(CMAKE_FIND_ROOT_PATH_MODE_LIBRARY ONLY)
set(CMAKE_FIND_ROOT_PATH_MODE_INCLUDE ONLY)
