Source: tmw
Section: games
Priority: optional
Maintainer: FERREIRA Yohann <bertram@cegetel.net>
Build-Depends: debhelper (>= 4.0.0), autotools-dev, libsdl1.2-dev (>= 1.2.7), libsdl-image1.2-dev (>= 1.2.3), libsdl-mixer1.2-dev (>= 1.2.5), libguichan (>= 0.3.0), libxml2-dev (>= 2.4.19), libphysfs-dev (>= 1.0.0-1)
Standards-Version: 3.6.1

Package: tmw
Architecture: i386
Depends: libsdl1.2debian (>= 1.2.7), libsdl-image1.2 (>= 1.2.3), libsdl-mixer1.2 (>= 1.2.5), libguichan (>= 0.3.0), libxml2 (>= 2.4.19), libphysfs-1.0-0 (>= 1.0.0-1)
Suggests: Nothing
Installed-Size: 1991
Maintainer: Ferreira Yohann <bertram@cegetel.net>
Description: The Mana World is a Great Online Game
 based upon the Seiken Densetsu Serie.
 It has its own universe, and
 its own character management system, which will
 give you the opportunity
 to play in a 2D heroic-fantasy world forever.
 .
 This package depends on the non-official package : 
 libguichan which can be found on : 
 http://guichan.darkbits.org/downloads.shtml
 A repository will be created soon.
 .
 Look at the website for further informations...
 .
 Authors:
 Elven Programmer <elvenprogrammer@sourceforge.net>
 Kth5 <kth5@gawab.com>
 Ultramichy <celdron15@hotmail.com>
 SimEdw <simon@crossnet.se>
 Rotonen <j_orponen@hotmail.com>
 Chetic <Chetic@gmail.com>
 HammerBear <bjorn@lindeijer.nl>
 Bertram <bertram@cegetel.net>
 .
 Web Site: http://www.themanaworld.org
