Source: tmw
Priority: optional
Maintainer: FERREIRA Yohann <bertram@cegetel.net>
Build-Depends: debhelper (>= 4.0.0), autotools-dev, docbook-to-man, libsdl1.2-dev (>= 1.2.7), libsdl-image1.2-dev (>= 1.2.3), libsdl-mixer1.2-dev (>= 1.2.5), libguichan0-dev (>= 0.4.0-4), libcurl3-gnutls-dev (>= 7.15.0-1), libxml2-dev (>= 2.4.19), libphysfs-dev (>= 1.0.0-1), libgl1-mesa-dev (>= 6.4.1), libpng12-dev (>= 1.2.5), libsdl-net1.2-dev (>= 1.2.5)
Standards-Version: 3.6.2

Package: tmw
Section: games
Architecture: any
Depends: ${shlibs:Depends}, tmw-data (= ${Source-Version})
Suggests: tmw-music
Description: The Mana World is a Great Online Game
 based upon the Seiken Densetsu Serie.
 It has its own universe, and
 its own character management system, which will
 give you the opportunity
 to play in a 2D heroic-fantasy world forever.
 .
 Look at the website for further informations...
 .
 Web Site: http://themanaworld.org/

Package: tmw-data
Section: games
Architecture: all
Depends: tmw (= ${Source-Version})
Description: The Mana World is a Great Online Game
 based upon the Seiken Densetsu Serie.
 It has its own universe, and
 its own character management system, which will
 give you the opportunity
 to play in a 2D heroic-fantasy world forever.
 .
 This package contains the basic datafiles needed
 by The Mana World.
 .
 Look at the website for further informations...
 .
 Web Site: http://themanaworld.org/

Package: tmw-music
Section: games
Architecture: all
Depends: tmw
Description: The Mana World is a Great Online Game
 based upon the Seiken Densetsu Serie.
 It has its own universe, and
 its own character management system, which will
 give you the opportunity
 to play in a 2D heroic-fantasy world forever.
 .
 This package contains the optional music files
 for The Mana World.
 .
 Look at the website for further informations...
 .
 Web Site: http://themanaworld.org/
