[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=The Mana World
Name[fr]=Le Monde de Mana
GenericName=Arcade Game
GenericName[de]=Arcade Spiel
GenericName[it]=Gioco Arcade
GenericName[fr]=Jeu d'Arcade En Ligne
Comment=A fantasy on-line game
Comment[fr]=Un jeu en ligne dans un univers fantastique
Comment[de]=ein Online Fantasy Spiel
Comment[it]=Un gioco fantasy online
Icon=/usr/share/games/tmw/data/icons/tmw-icon.png
FilePattern=tmw
TryExec=tmw
Exec=tmw
Categories=Application;Game;ArcadeGame;
StartupNotify=false;
