#include <windows.h> // include for version info constants

#include "winver.h"

A ICON MOVEABLE PURE LOADONCALL DISCARDABLE "data/icons/aethyra.ico"

1 VERSIONINFO
FILEVERSION VER_MAJOR,VER_MINOR,VER_RELEASE,VER_BUILD
PRODUCTVERSION VER_MAJOR,VER_MINOR,VER_RELEASE,VER_BUILD
FILETYPE VFT_APP {
    BLOCK "StringFileInfo" {
        BLOCK "040904E4" {
            VALUE "CompanyName", "Aethyra Development Team"
            VALUE "FileVersion", PACKAGE_VERSION
            VALUE "FileDescription", "Aethyra Experiment"
            VALUE "LegalCopyright", "2008 (C)"
            VALUE "OriginalFilename", "aethyra.exe"
            VALUE "ProductName", "Aethyra MMORPG"
            VALUE "ProductVersion", PACKAGE_VERSION
        }
    }
}

